#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1176R.
#

# Period Constraints 
#FREQUENCY NET "odasiljac/clk_pll" 156.2 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
